html 
  body
    h1 Selamat Datang:
    a(href='/shopping-cart') Cart
    br
    br
    table
      tr
        th(style="text-align: left;") Daftar Kategori:
      each category in results
        tr
          td
            a(href=`kategori/${category.CategoryID}`) #{category.CategoryName}