html 
  body
    h1 Daftar Produk:
    a(href='/') Kembali
    br
    br
    table
      thead 
        tr
          th ID
          th Nama
          th Harga
      tbody 
        each product in results
          tr 
            td #{product.ProductID} 
            td 
              a(href=`/produk/${product.ProductID}`) #{product.ProductName}
            td $#{product.UnitPrice}