html 
  body
    h1 Daftar Produk:
    a(href='/') Kembali
    br
    br
    table 
      tr 
        td ID
        td Nama
        td Harga
      each product in results
        tr 
          td #{product.ProductID} 
          td 
            a(href=`/produk/${product.ProductID}`) #{product.ProductName}
          td $#{product.UnitPrice}