html 
  body 
    h1 Contoh Form 
    form(action="/proses-form", method="POST")
      label Nama: 
      input(type="text", name="nama") 

      br 
      label Alamat: 
      input(type="text", name="alamat")

      br
      label Kota: 
      input(type="text", name="kota") 

      br 
      input(type="submit", value="Kirim")