@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
  font-family: 'Poppins', 'sans-serif';
}

body {
  min-height: 100vh;
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  position: relative;
}

.h-custom {
  position: relative;
  font-weight: 700;
}

.text-block-custom {
  margin-left: 0.375rem;
  margin-right: 0.375rem;
  color: black;
  background-color: white;
  padding: 0.125rem 0.5rem;
  border-radius: 0.25rem;
  font-weight: 700;
}

.btn-black {
  background: #000;
  color: white;
  border: 2px solid black;
}

.btn-black:hover {
  background: #fff !important;
  border: 2px solid black !important;
}

/* Navbar */
.nav-brand {
  background: black;
}

.nav-brand-text {
  color: white;
}

.nav-brand-text:hover {
  color: white;
}

.nav-text {
  color: white;
}

.navbar-nav {
  padding: 0.25rem 0.75rem;
}

.nav-custom {
  margin-top: 0.25rem;
  color: black;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1.25rem !important;
  min-width: 8rem;
}

.nav-link > span {
  display: none;
}

.nav-link.active {
  margin-top: 0;
  background-color: #fff;
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 1);
  border: 3px solid black;
  border-radius: 0.35rem;
  font-weight: 700;
}

.navbar-toggler {
  margin: 0.75rem 0.75rem 0.25rem;
  background-color: white;
  color: #fff;
  border: 3px solid black;
}

.navbar-toggler:focus {
  box-shadow: none;
}
/* Navbar End */

/* Form */
.form-label {
  margin-bottom: 0;
  color: rgb(151, 151, 151);
}

.form-custom {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  padding: 0 0.125rem 0.375rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-bottom: 2px solid black;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-custom.text-area {
  margin-top: 0.5rem;
  padding: 0.375rem;
  border: 2px solid black;
  border-radius: 0.375rem;
}

.form-custom > input {
  border: 0;
  outline: none;
}

.form-custom > textarea {
  width: 100%;
  border: 0;
  outline: none;
}

.form-select {
  border: 0.125rem solid black;
}

.form-check-input:checked {
  background-color: black;
  border-color: #ececec;
}

.form-check-input:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 0.125rem rgba(58, 58, 58, 0.5);
}

.form-select:focus {
  border-color: initial;
  box-shadow: 0 0 0 0.125rem rgba(58, 58, 58, 0.5);
}
/* Form End */

main {
  padding: 0.5rem 2rem 6.5rem !important;
}

.main {
  padding: 1.5rem;
  padding-top: 0;
}

.main-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-custom {
  padding: 2rem;
  background: white;
  border: 0.25rem solid black;
  border-radius: 0.25rem;
  box-shadow: 8px 8px 0 0 rgba(0, 0, 0, 1);
}

.flex-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.table-custom {
  width: fit-content;
}

/* Login */
.login-container {
  width: 25rem;
}
/* Login */

footer {
  width: 100%;
  color: white;
  background: black;
  position: absolute;
  bottom: 0;
}

@media (min-width: 992px) {
  .navbar-nav {
    padding: 0.5rem 0;
  }
  .nav-custom {
    justify-content: center;
  }

  .main {
    padding: 0 4rem 6rem;
  }

  .flex-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 3rem;
  }
}

@media (min-width: 480px) {
  .nav-link > span {
    display: inline;
  }
}
