@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

* {
  font-family: 'Poppins', 'sans-serif';
}

body {
  min-height: 100vh;
  background-color: #ececec;
  display: flex;
  flex-direction: column;
}

.h-custom {
  position: relative;
  font-weight: 700;
}

.text-block-custom {
  margin-left: 0.375rem;
  margin-right: 0.375rem;
  color: black;
  background-color: white;
  padding: 0.125rem 0.5rem;
  border-radius: 0.25rem;
  font-weight: 700;
}

.btn-black {
  background: #000;
  color: white;
  border: 2px solid black;
}

.btn-black:hover {
  background: #fff !important;
  border: 2px solid black !important;
}

/* Navbar */
.nav-brand {
  background: black;
}

.nav-brand-text {
  color: white;
}

.nav-brand-text:hover {
  color: white;
}

.nav-text {
  color: white;
}

.navbar-nav {
  padding: 0.75rem;
}

.nav-custom {
  margin-top: 0.25rem;
  color: black;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1.25rem !important;
  min-width: 9.75rem;
}

.nav-link.active {
  margin-top: 0;
  background-color: #fff;
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 1);
  border: 3px solid black;
  border-radius: 0.35rem;
  font-weight: 700;
}

.navbar-toggler {
  margin: 0.75rem 0.75rem 0.25rem;
  background-color: white;
  color: #fff;
  border: 3px solid black;
}

.navbar-toggler:focus {
  box-shadow: none;
}
/* Navbar End */

/* Form */
.form-label {
  margin-bottom: 0;
  color: rgb(151, 151, 151);
}

.form-custom {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  padding: 0.375rem 0.125rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-bottom: 2px solid black;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-custom > input {
  border: 0;
  outline: none;
}
/* Form End */

.main {
  padding: 1.5rem;
}

.main-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-custom {
  padding: 2rem;
  background: white;
  border: 0.25rem solid black;
  border-radius: 0.25rem;
  box-shadow: 8px 8px 0 0 rgba(0, 0, 0, 1);
}

.flex-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.welcome {
  padding: 0 1.5rem 1rem;
  border-bottom: 3px solid black;
}

.welcome-block-custom {
  border: 3px solid black;
  border-radius: 0.375rem;
  box-shadow: 0.25rem 0.25rem 0 0 rgba(0, 0, 0, 1);
}

.table-custom {
  margin-top: 2rem !important;
  width: fit-content;
}

@media (min-width: 992px) {
  .nav-custom {
    justify-content: center;
  }

  .main {
    padding: 4rem;
  }

  .flex-card {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

  .table-custom {
    margin-top: 3rem !important;
  }
}
