@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

:root {
  --color-primary: #d00027;
}

* {
  font-family: 'Poppins', 'sans-serif';
}

body {
  background: #ececec;
}

.nav-brand {
  background: var(--color-primary);
}

.nav-brand-text {
  color: white;
}

.nav-brand-text:hover {
  color: white;
}

.nav-text {
  color: white;
}

.navbar-toggler {
  margin-left: 0.5rem;
  margin-bottom: 0.25rem;
}

.navbar-nav {
  padding: 0.5rem;
}

.nav-custom {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem !important;
  border-radius: 0.35rem;
  color: black;
}

.nav-link.active {
  background-color: #fff;
  font-weight: 700;
}

/* Main Content */
.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;
  padding-top: 0.5rem;
  overflow: auto;
}

.card-custom {
  background-color: #fff;
  padding: 1.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

.card-custom h2,
.card-custom h3 {
  color: var(--color-primary);
  font-weight: 700;
}

.card-custom h2 {
  font-size: 1.5rem;
}

.card-custom h3 {
  font-size: 1.17rem;
}

.card-img {
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.featured-image {
  width: 100%;
  max-height: 20rem;
  object-fit: cover;
  object-position: center;
}

/* Form */
h2.form-title {
  color: black;
}

.form-label {
  color: var(--color-primary);
  font-weight: 700;
}

.form-control:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 4px rgba(255, 166, 184, 0.5);
}

.form-check-input:checked {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.form-check-input:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 4px rgba(255, 166, 184, 0.5);
}

.btn-custom {
  background: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: #fff;
}

.btn:first-child:hover {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}
